html,
body {
    margin: 0;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.875rem;
}



/* Header */
.header {
    min-height: 637px;
    background-position: center;
    background-repeat: no-repeat;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    display: block;
    position: relative;
    left: 0;
    top: 0;
}

.overlay {
    background-image: linear-gradient(110deg, #00256C 10%, #04ACA4 90%);
    background-color: transparent;
    opacity: 0.75;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;

}

/* Navigation */
.navbar-right {
    font-size: 16px;
    font-weight: 600;
    padding: 0 16px 0 16px;
}

.navbar-right:hover {
    color: #e48800;
}

/* Header Content */
.head-container {
    z-index: 100;
    position: absolute;
    top: 15%;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 12% 0 4%;
    color: #fff;

}

.head-content {
    padding-left: 2rem;
}

.people {
    color: #e48800;
}

.head-desc {
    margin-top: 1.25rem;
}

.head-button {
    margin-top: 1.25rem;
    margin-right: 15%;

}

.btn-left {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    border-radius: 20px;
    padding: 0.625rem 2.5rem;
    color: #fff;
    background-color: #e48800;
    text-align: center;
    height: 40px;

}

.btn-right {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    border-radius: 20px;
    border: solid #e48800;
    border-width: 1px;
    padding: 0.625rem 2.5rem;
    color: #fff;
    fill: #fff;
    text-align: center;
    background-color: rgba(228, 136, 0, 0);
    background-color: none;
    height: 40px;
}



/* Mobile */
@media (max-width:767px) {

    /* Header Content */
    h1 {
        font-size: 1.875rem;
        line-height: 2.375rem;
    }

    p {

        font-size: 0.9375rem;
        font-weight: 400;
        line-height: 1.75rem;
    }


    .head-container {
        text-align: center;
        z-index: 100;
        position: absolute;
        top: 15%;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding: 0 12% 0 4%;
        color: #fff;

    }

    .head-content {
        padding-left: 0;
    }

    .head-button {
        margin-top: 1.25rem;
        margin-right: 0;
        padding: 0.5rem 2.5rem;

    }

    .btn-left {
        margin-bottom: 2rem;
    }


}
